.download-btn {
    display: none;
    background-color: #F2F0EE;
    border: 1px solid #BEBEBE;
    border-radius: 9px;

    padding: 10px;
    img {
        opacity: 0.7;
        width: 30px;
    }
}