.navbar-transparent {
  //opacity: 0.4;
  &.light {
    background-color: #f4f4f5;
    color: #000;

    .pandora-logo {
      filter: invert(100%);
    }
  }

  &.dark {
    background-color: rgba(217, 217, 217, 0.35);
    color: #fff;
  }

  .pandora-logo {
    cursor: pointer;

    &:hover {
      opacity: 0.7;
      transition: all 0.2s ease;
    }
  }

  a.text-button {
    cursor: pointer;
  }

  a.text-button:hover {
    opacity: 0.7;
  }
}

