// Define theme variables
$dark-theme: (
  main-bg-color: #2E3740,
  main-text-color: #FFF,
  secondary-bg-color: rgba(#96A7C0, 0.2)
);

$light-theme: (
  main-bg-color: #F4F4F5,
  main-text-color: #000,
  secondary-bg-color: #E4E8EB
);

@mixin theme($theme) {
//   background-color: map-get($theme, main-bg-color);
//   color: map-get($theme, main-text-color);

  .modal-body-wrapper {
    background-color: map-get($theme, main-bg-color);
  }
}




.custom-modal {
    @include theme($dark-theme); // Default theme
    
    &.light {
      @include theme($light-theme);
    }
    position: fixed;

    z-index: 2;

    top: 0px;
    left: 0px;

    height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    .modal-container {
      position: relative;
      
      height: 100%;
      width: 100%;

      .modal-dim {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;

        background-color: rgba($color: #ffffff, $alpha: .2);
        user-select: none;

        z-index: 0;
      }

      .modal-body-wrapper {
        min-width: 900px;
        min-height: 400px;
        border-radius: 10px;
        box-sizing: border-box;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        z-index: 1;
        cursor: default;
      }

      .modal-body {
        padding: 30px 10px 30px 10px;
        position: relative;

        .close {
          position: absolute;
          right: 5px;
          top: 5px;

          cursor: pointer;

          > * {
            font-size: 20px;
          }
        }
      }
    }
}
