// Define theme variables
$dark-theme: (
  main-bg-color: #20272C,
  secondary-bg-color: #2E3740,
  main-text-color: #FFF
);

$light-theme: (
  main-bg-color: #E7E9EC,
  secondary-bg-color: #F4F4F5,
  main-text-color: #000
);

@mixin theme($theme) {
  // background-color: map-get($theme, main-bg-color);
  color: map-get($theme, main-text-color);
}

.new-dosie-page {
  @include theme($dark-theme);

  &.dark {
    background-color: #20272C;
  }
  &.light {
    @include theme($light-theme);
    background-color: #E7E9EC;
  }

  position: relative;
  width: 100%;
  padding: 80px 70px 330px 70px;
  box-sizing: border-box;
  font-family: Ubuntu;

  .change-theme-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    > * {
      font-size: 20px;
      cursor: pointer;
    }
  }

  .row-info {
    position: relative;
    
    display: flex;
    flex-direction: row;
    gap: 10px;

    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }

    &:first-child {
      @media screen and (max-width: 1000px) {
        max-height: max-content;
      }
    }

    & + .row-info {
      margin-top: 21px;
    }

    > .icon-buttons {
      position: absolute;
      top: -40px;
      right: 0x;

      display: flex;
      flex-direction: row;
      gap: 3px;
    }
  }
}
