// Define theme variables
$dark-theme: (
  main-bg-color: #20272C,
  secondary-bg-color: #2E3740,
  main-text-color: #FFF
);

$light-theme: (
  main-bg-color: #E7E9EC,
  secondary-bg-color: #F4F4F5,
  main-text-color: #000
);

@mixin theme($theme) {
  // background-color: map-get($theme, main-bg-color);
  color: map-get($theme, main-text-color);
}

.new-dosie-page {
  @include theme($dark-theme);

  &.dark {
    background-color: #20272C;
  }
  &.light {
    @include theme($light-theme);
    background-color: #E7E9EC;
  }

  position: relative;
  width: 100%;
  padding: 80px 70px 330px 70px;
  box-sizing: border-box;
  font-family: Ubuntu;

  .change-theme-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    > * {
      font-size: 20px;
      cursor: pointer;
    }
  }

  .no-scroll {
    overflow: hidden;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* dark overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* ensure it's above other elements */
  }
  
  .modal-photo-preview {
    background-color: white;
    position: relative;
    border-radius: 9px;
    width: 50vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001; /* ensure it's above the overlay */
    .close-button {
      position: absolute;
      right: 20px;
      top: 15px;
      a {
        color: #000;
        font-size: 20px;
        font-family: 'Ubuntu';
        cursor: pointer;
      }
    }
    img {
      margin-top: 5vh;
      max-width: 100%;
      max-height: 100%;
      height: 80vh;
      object-fit: contain;
    }
  }
  
  .row-info {
    position: relative;
    
    display: flex;
    flex-direction: row;
    gap: 10px;

    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }

    &:first-child {
      @media screen and (max-width: 1000px) {
        max-height: max-content;
      }
    }

    & + .row-info {
      margin-top: 21px;
    }

    & + .actions {
      margin-top: 10px;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
    }

    
  }
}
