/* @font-face {
  font-family: 'Ubuntu';
  src: url(fonts/Ubuntu/Ubuntu-VariableFont_wght.ttf);
} */
html {

  background-color: #0D0F11 !important;

}
:root {
  
}

@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
  font-weight: 300;  /* 300 is typically used for light font weights */
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  place-items: center;
  min-height: 100vh;

  background-color: #20272C;
  /* background-image: url(./images/bg-image.png); */
  background-size: 100%;
  background-position: top left;
  background-repeat: no-repeat;
}

body.light {
  background-color: #E7E9EC;
}

body.dark {
  background-color: #0D0F11;
}
