.NavbarItems a,
.NavbarItems2 a {
    text-decoration: none; 
    color: rgba(255, 255, 255, 0.3);
    transition: all ease 0.1s;

    overflow: hidden;
}
.NavbarItems *,
.NavbarItems2 * {
    overflow: hidden;
}

.NavbarItems,
.NavbarItems2 {
    overflow: hidden;
}

.admin {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
.NavbarItems > div > div > a:hover,
.NavbarItems2 > div > div > a:hover {
    color: rgb(176, 176, 176);
    transition: all ease 0.1s;
}

.NavbarItems2 > h1 {
    margin-left: 100px;
}

.nav-back {
    box-shadow: 0px 4px 33px -6px rgba(255, 255, 255, 0.07);

    background-color: var(--nav-bar-color);

    /* overflow-x: hidden; */
    z-index: 2;
    /* margin-top: 20px; */
}

.logo {
    font-family: 'Ubuntu';
    font-weight: 700;

    margin-left: 100px;
}

.NavbarItems,
.NavbarItems2 {
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    padding: 0 30px;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.NavbarItems {
    height: 90px;

    
}

.NavbarItems2 {
    height: 90px;

    overflow-y: visible !important;
}
.NavbarItems3 {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.NavbarItems3 > div {
    width: 50%;
    display: flex;
    justify-content: center;

    text-transform: uppercase;
}

.nav-menu {
    margin-left: 50px;
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    align-items: center;
    
    gap: 3rem;
    /* margin-right: 40px; */

    text-align: center;
    
    list-style: none;

    font-size: 1.2rem;
    font-family: 'Ubuntu';
    font-weight: 400;

    overflow: visible !important;
    z-index: 30;
}

.nav-menu li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;

}

.nav-dropdown {
    position: absolute;

    width: 100px;
    height: 1000px;

    top: 100;
    left: 0;
}

.nav-links span {
    font-weight: 700;
}

.nav-links .userRole {
    font-weight: 400;
    transition: all ease 0.1s;
    color: rgba(116, 116, 116, 0.5)
}

.nav-links:hover {
    color: rgb(176, 176, 176);
    transition: all ease 0.1s;
}

.NavbarItems2 {
    overflow: visible !important;

    * {
        overflow: hidden !important;
    }
}

.NavbarItems > div,
.NavbarItems2 > div {
    display: flex;
    align-items: center;
    
    gap: 60px;
}
